@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using procurement.Data.Models
@model IEnumerable<Procurement>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
        <meta name="viewport" content="width=device-width" />
        <title>List</title>
</head>

<body>
        <h2>Все заказы</h2>
    <h3>@ViewBag</h3>
    @{ 
        foreach(var pro in Model)
        {
                <div>
                    <h2>Заказ: @pro.productName </h2>
                    <p>Цена: @pro.price.ToString("c")</p>
                </div>
        }
}
</body>



</html>
